## Rust

debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/
examples/e2e_output/
PLAN.md

## Mac Os

.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
